<div class="container mt-5">
  <h2>Cadastro de Produtos</h2>
  <form>
    <div class="row mb-3">
      <div class="col">
        <label for="produtoId" class="form-label">ID:</label>
        <input type="text" class="form-control" id="produtoId">
      </div>
      <div class="col">
        <label for="produtoNome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="produtoNome">
      </div>
    </div>
    <div class="mb-3">
      <label for="produtoDescricao" class="form-label">Descrição:</label>
      <textarea class="form-control" id="produtoDescricao" rows="3"></textarea>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="produtoPreco" class="form-label">Preço:</label>
        <input type="text" class="form-control" id="produtoPreco">
      </div>
      <div class="col">
        <label for="produtoQuantidade" class="form-label">Quantidade:</label>
        <input type="text" class="form-control" id="produtoQuantidade">
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
  </form>
</div>